<a href="https://colab.research.google.com/github/tcsanitesh/DataScience/blob/main/CaseStudy1_Numpy_panda_matplot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Extract data from the given SalaryGender CSV file and store the data from each
column in a separate NumPy array

In [75]:
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/SalaryGender.csv")

salary = np.array(df["Salary"])
gender = np.array(df["Gender"])
age = np.array(df["Age"])
phd = np.array(df["PhD"])
print(salary)
print(age)
print(gender)
print(phd)

[140.    30.    35.1   30.    80.    30.    60.    31.1  125.    51.
   3.    46.   150.     3.   130.    15.   130.    84.   190.    74.
  73.    10.    50.     7.     9.5   15.2   28.6   20.    72.    81.
 100.    90.    90.    35.    30.    25.    52.     9.    63.    72.
  16.    92.   106.     2.5    9.    32.    32.    55.    52.    28.
  20.    14.7   22.3   34.8   84.    19.   160.    65.    55.     4.6
 102.    20.    62.    55.    45.6   40.    24.    35.    48.    20.
  40.7   15.     0.25 152.    39.8   12.    30.   120.     1.7   36.
  96.    38.    90.     9.    25.8   22.    38.8   72.    89.    41.
  89.    25.    52.   115.    66.    18.6  152.     1.8   35.     4.  ]
[47 65 56 23 53 27 53 30 44 63 22 59 60 28 65 25 65 47 66 45 46 24 60 63
 27 66 36 30 51 65 45 52 54 30 52 26 49 22 34 60 28 58 77 67 27 48 45 49
 36 65 32 49 67 22 49 43 61 43 52 51 66 29 62 56 61 56 41 24 60 43 57 23
 53 71 20 27 69 58 37 32 33 32 60 71 30 62 54 42 62 51 71 29 55 54 55 26
 56 28 44 24]
[1 0 0 1 0 0 1 0 1 1 1 1 1 1 1 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0
 0 1 1 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 0 1 1 1 0 1 1 0 0 1 0 0 0 1 0 1
 0 0 1 1 1 1 1 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 1 1 0 0]
[1 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 1 1 1 1 0 0 0 0
 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1
 0 0 1 1 0 1 1 1 0 0 0 0 0 1 0 1 1 0 1 0 1 0 1 0 0 0]

. Find:
1. The number of men with a PhD
2. The number of women with a PhD

In [52]:
from numpy.lib.npyio import genfromtxt
import numpy as np
arr_np = genfromtxt("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/SalaryGender.csv", delimiter =",")
#print(arr_np)
print(arr_np[:,0:1])
#np.savetxt("sal_gen_np.csv", arr_np, delimiter = ",")

[[   nan]
 [140.  ]
 [ 30.  ]
 [ 35.1 ]
 [ 30.  ]
 [ 80.  ]
 [ 30.  ]
 [ 60.  ]
 [ 31.1 ]
 [125.  ]
 [ 51.  ]
 [  3.  ]
 [ 46.  ]
 [150.  ]
 [  3.  ]
 [130.  ]
 [ 15.  ]
 [130.  ]
 [ 84.  ]
 [190.  ]
 [ 74.  ]
 [ 73.  ]
 [ 10.  ]
 [ 50.  ]
 [  7.  ]
 [  9.5 ]
 [ 15.2 ]
 [ 28.6 ]
 [ 20.  ]
 [ 72.  ]
 [ 81.  ]
 [100.  ]
 [ 90.  ]
 [ 90.  ]
 [ 35.  ]
 [ 30.  ]
 [ 25.  ]
 [ 52.  ]
 [  9.  ]
 [ 63.  ]
 [ 72.  ]
 [ 16.  ]
 [ 92.  ]
 [106.  ]
 [  2.5 ]
 [  9.  ]
 [ 32.  ]
 [ 32.  ]
 [ 55.  ]
 [ 52.  ]
 [ 28.  ]
 [ 20.  ]
 [ 14.7 ]
 [ 22.3 ]
 [ 34.8 ]
 [ 84.  ]
 [ 19.  ]
 [160.  ]
 [ 65.  ]
 [ 55.  ]
 [  4.6 ]
 [102.  ]
 [ 20.  ]
 [ 62.  ]
 [ 55.  ]
 [ 45.6 ]
 [ 40.  ]
 [ 24.  ]
 [ 35.  ]
 [ 48.  ]
 [ 20.  ]
 [ 40.7 ]
 [ 15.  ]
 [  0.25]
 [152.  ]
 [ 39.8 ]
 [ 12.  ]
 [ 30.  ]
 [120.  ]
 [  1.7 ]
 [ 36.  ]
 [ 96.  ]
 [ 38.  ]
 [ 90.  ]
 [  9.  ]
 [ 25.8 ]
 [ 22.  ]
 [ 38.8 ]
 [ 72.  ]
 [ 89.  ]
 [ 41.  ]
 [ 89.  ]
 [ 25.  ]
 [ 52.  ]
 [115.  ]
 [ 66.  ]
 [ 18.6 ]
 [152.  ]
 [  1.8 ]
 [ 35.  ]
 [  4.  ]]

In [ ]:
men_with_Phd = np.sum((phd == 1) & (gender == 1))
women_with_Phd = np.sum((phd == 1) & (gender == 0))

print("Men_with_Phd : ", men_with_Phd)
print("women_with_Phd : ", women_with_Phd)

Men_with_Phd :  24
women_with_Phd :  15

Calculate the total number of people who have a PhD degree from SalaryGender
CSV file.

In [64]:
df1 = df[["Age","PhD"]]
df1= df1[df1["PhD"] != 0 ]
#df1= df1.drop("PhD", axis=1 )
df1

    Age  PhD
0    47    1
1    65    1
4    53    1
8    44    1
9    63    1
12   60    1
17   47    1
18   66    1
19   45    1
25   66    1
26   36    1
28   51    1
29   65    1
30   45    1
31   52    1
32   54    1
38   34    1
41   58    1
42   77    1
45   48    1
47   49    1
49   65    1
54   49    1
56   61    1
57   43    1
60   66    1
63   56    1
73   71    1
76   69    1
77   58    1
79   32    1
80   33    1
81   32    1
87   42    1
89   51    1
90   71    1
92   55    1
94   55    1
96   56    1

In [80]:
df = df[df['PhD']==1]
total_phd_count = df.shape[0]
print(total_phd_count)

39

How do you Count The Number Of Times Each Value Appears In An Array Of
Integers?
[0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9]
Answer should be array([4, 2, 1, 1, 3, 2, 0, 0, 0, 1]) which means 0 comes 4 times,
1 comes 2 times, 2 comes 1 time, 3 comes 1 time and so on.

In [87]:
from collections import Counter
import numpy as np

arr5 = [0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9]

counts = Counter(arr5)

# Create a NumPy array from the counts
result = np.array([counts[i] for i in range(max(arr5) + 1)])
print(result)

[4 2 1 1 3 2 0 0 0 1]